/*This is the main CSS file to be used throughout the application*/
:root
{
    --textWhite: #F3F3F3;
    --textBlack: #000000;
    --buttonColor: #03AAFB;
    --buttonColorSecond: #909090;
    --background: #03AAFB;
    --hoverColor: #0066cc;
}

body
{
    background: var(--textWhite);
    font-family: sans-serif, monospace;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Login and registration CSS*/
#welcomeTitle
{
    text-align: center;
    font-size: 30px;
}

/*By default register should not display*/
#register
{
    display: none;
}

#container
{
    background: var(--buttonColorSecond);
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

.tab
{
    background: var(--textBlack);
    display: flex;
    justify-content: center;
    height: 35px;
}

.tablinks
{
    background: var(--textBlack);
    border: none;
    font-family: sans-serif, monospace;
    color: var(--textWhite);
    width: 100%;
    transition: 0.4s ease-in-out;
}

.tablinks:hover
{
    background: var(--hoverColor);
}

.tab input.active
{
    background: var(--buttonColor);
}

#loginBut
{
    background: var(--buttonColor);
    font-family: sans-serif, monospace;
    color: var(--textWhite);
    border: none;
    height: 25px;
    width: 150px;
    transition: 0.4s ease-in-out;
}

#loginBut:hover
{
    background: var(--hoverColor);
}

#loginForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
}

#loginForm *
{
    margin: 5px;
}

#loginForm input
{
    height: 20px;
    width: 200px;
}

#registerBut
{
    background: var(--buttonColor);
    font-family: sans-serif, monospace;
    color: var(--textWhite);
    border: none;
    height: 25px;
    width: 150px;
    transition: 0.4s ease-in-out;
}

#registerBut:hover
{
    background: var(--hoverColor);
}

#registerForm
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 250px;
}

#registerForm *
{
    margin: 5px;
}

#registerForm input
{
    height: 20px;
    width: 200px;
}

/*Navigation CSS*/
#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--buttonColor);
    color: var(--textWhite);
}

#navbar *
{
    margin: 5px;
}

#navTitle
{
    font-size: 20px;
}

#navlinks ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navlinks ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}

#navlinks ul li a
{
    text-decoration: none;
    color: var(--textWhite);
}

#navlinks ul li a:after
{
    content: "";
    display: block;
    border-bottom: 1px solid var(--hoverColor);
    transition: 0.4s ease-in-out;
    transform: scaleX(0);
}

#navlinks ul li a:hover:after
{
    transform: scaleX(1);
}

/*Dash CSS*/
#userDetails
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userDetails *
{
    margin: 10px;
    padding: 5px;
}

#balanceContainer
{
    background: var(--hoverColor);
    color: var(--textWhite);
}

#recentTransactionsTitle
{
    margin: 10px;
    padding: 5px;
}

#transactionsContainer
{
    margin: 10px;
    padding: 5px;
}

.transaction
{
    display: flex;
    flex-direction: column;
    background: var(--buttonColor);
    color: var(--textWhite);
    margin-bottom: 10px;
}

.transaction *
{
    margin: 5px;
}

#details
{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#value
{
    text-align: right;
}

#newTransactionBut
{
    background: var(--buttonColor);
    border: none;
    color: var(--textWhite);
    margin: 10px;
    padding: 5px;
    height: 35px;
    width: 150px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

#newTransactionBut:hover
{
    background: var(--hoverColor);
}

#newTransactionTitle
{
    text-align: center;
}

#newTransactionForm
{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#newTransactionForm *
{
    margin: 5px;
}

#newTransactionSubmit
{
    background: var(--buttonColor);
    border: none;
    color: var(--textWhite);
    margin: 10px;
    padding: 5px;
    height: 35px;
    width: 150px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    align-self: center;
}

#newTransactionSubmit:hover
{
    background: var(--hoverColor);
}

#dateInput
{
    margin: 0;
    padding: 0;
}